[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
/[Mm]emoryCaptures/
[UserSettings]/
.vs/
.gradle/
ExportedObj/
.plastic/
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.meta
*.booproj
*.svntmp
